<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Корзина товаров</title>
</head>

<body>
<div th:if="${!isAuthenticated}">
    <form th:action="@{/login}" method="get">
        <button type="submit">Войти</button>
    </form>
</div>
<div th:if="${isAuthenticated}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
        <span style="margin-left: 10px;"><b th:text="${auth.name}"></b></span>
    </form>
</div>

<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.getDescription()}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/'+item.getId()}" method="post">
                            <button name="action" value="MINUS">-</button>
                            <span th:text="${item.getCount()}"></span>
                            <button name="action" value="PLUS">+</button>
                            <button name="action" value="DELETE" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
            <br/>
            <b th:if="${error == null}" th:text="'Баланс: '+${balance}+' руб.'"></b>
            <b th:if="${error != null}" th:text="''+${error}+''" style="color: red; font-weight: bold;"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <!--
                        <form action="/buy" method="post" th:if="${!empty}">
                            <button>Купить</button>
                        </form>
            -->
            <form action="/buy" method="post" th:if="${error == null} and ${!empty} and ${balance} >= ${total}">
                <button>Купить</button>
            </form>
            <b th:if="${error == null} and ${!empty} and ${balance} < ${total}"
               th:text="'Недостаточно средств для покупки'" style="color: red; font-weight: bold;"></b>
            <!--
                        <form action="/buy" method="post" th:if="${!empty}">
                            <button>Все равно Купить</button>
                        </form>
            -->
            <b th:if="${paymentError != null}" th:text="''+${paymentError}+''"
               style="color: red; font-weight: bold;"></b>
        </td>
    </tr>
</table>
</body>

</html>